<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h1>{{ estado.status }}</h1>
                <h1>{{ count }}</h1>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    components: {},
    name: "TaskCount",
    props: ["estado", "id"],
    data() {
        return {
            count: [],
        };
    },

    mounted() {
        this.getcount();
    },

    methods: {
        async getcount() {
            await this.axios
                .get("/api/status_total/" + this.id)
                .then((response) => {
                    this.count = response.data;
                })
                .catch((error) => {
                    console.log(error);
                    this.count = [];
                });
        },
    },
};
</script>
