<template>
    <main>
            <router-view></router-view>
    </main>
</template>

<script>
export default {
    data(){
        return{
            user: null
        }
    },
    methods:{
        logout(){
            axios.post('/api/logout').then(()=>{
                this.$router.push({ name: "login"})
            })
        }
    },
    mounted(){

    }
};
</script>
