<template>
        <div class="row">
            <NavBar></NavBar>
            <div class="col text-center mt-5">
                <div class="container mt-3">
                    <h1 class="text-center mb-5">Formulario de contacto</h1>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <form @submit.prevent="contact">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label"
                                        >Nombre completo</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="nombre"
                                        name="nombre"
                                        required
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label"
                                        >Correo electrónico</label
                                    >
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        required
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="mensaje" class="form-label"
                                        >Mensaje</label
                                    >
                                    <textarea
                                        class="form-control"
                                        id="mensaje"
                                        name="mensaje"
                                        rows="5"
                                        required
                                    ></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    Enviar mensaje
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
import NavBar from "./NavBar.vue";

export default {
    name: "contact",
    components:{
        NavBar
    },
    methods: {
        async contact() {
            this.$swal
                .fire({
                    title: "Enviar ?",
                    text: "Verifica la información antes de continuar.!",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Si, Enviar!",
                })
                .then((result) => {
                    if (result.isConfirmed) {
                        const Toast = this.$swal.mixin({
                            toast: true,
                            position: "center",
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                        });

                        Toast.fire({
                            icon: "success",
                            title: "Mensaje enviado.",
                        });

                        this.$router.push({ name: "home" });
                    }
                });
        },
    },
};
</script>
