<template>

<div class="row">
        <NavBar></NavBar>
        <div class="row text-center ">
            <h3 class="mt-5">Cantidad de tareas por estado</h3>
            <div
                class="col text-center"
                v-for="status in status_count"
                :key="status.id"
            >

                <TaskCount class="mt-5"
                    :estado="status.status"
                    :id="status.status.id"
                ></TaskCount>
            </div>
        </div>
    </div>
</template>

<script>
import TaskCount from "./reports/TaskCount.vue";
import NavBar from "./NavBar.vue";
export default {
    components: {
        TaskCount,
        NavBar,
    },
    data() {
        return {
            user: null,
            status_count: {},
        };
    },
    mounted() {
        axios.get('/api/user').then((res)=>{
            this.user = res.data
        })

        axios.get('/api/notify').then((res)=>{
            this.user = res.data
        })

        this.loadTasks();
    },
    methods: {
        logout(){
            axios.post('/api/logout').then(()=>{
                this.$router.push({ name: "login"})
            })
        },
        async loadTasks() {
            await this.axios
                .get("/api/status_count")
                .then((response) => {
                    this.status_count = response.data;
                })
                .catch((error) => {
                    console.log(error);
                    this.status_count = [];
                });
        },
    },
};
</script>
