<template>
    <div class="container mt-4">
        <div class="row text-center">
            <div
                class="col-md-6 offset-md-3"
            >
                <div class="flex flex-wrap max-w-xl">
                    <div class="p-2 text-2xl text-gray-800 font-semibold">
                        <h3>Acceso seguro</h3>
                    </div>
                    <div class="form-group">
                        <label for="email">e-mail</label>
                        <input
                            class="form-control"
                            placeholder="Email"
                            type="email"
                            v-model="form.email"
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                            class="form-control"
                            placeholder="Password"
                            type="password"
                            v-model="form.password"
                            name="password"
                        />
                    </div>
                    <div class="p-2 w-full mt-4">
                        <button
                            @click.prevent="loginUser"
                            type="submit"
                            class="btn btn-primary"
                        >
                            Ingresar
                        </button>

                        <router-link class="nav-link" to="/register"
                            >No tienes cuenta? Registerse</router-link
                        >
                    </div>

                    <!-- {{ errors }} -->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            form: {
                email: "",
                password: "",
            },
            errors: [],
        };
    },
    methods: {
        loginUser() {
            axios
                .post("/api/login", this.form)
                .then(() => {
                    this.$router.push({ name: "home" });
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },
    },
};
</script>
