<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <router-link
                class="navbar-brand"
                exact-active-class="active"
                to="/">
                <img src="/img/task.png" alt="" width="30" height="30"/>
            </router-link>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <router-link
                            exact-active-class="active"
                            to="/"
                            class="nav-link active"
                            aria-current="page"
                            >Inicio</router-link
                        >
                    </li>
                    <li class="nav-item">
                        <router-link
                            exact-active-class="active"
                            to="/tasks"
                            class="nav-link"
                            >Tareas</router-link
                        >
                    </li>
                    <li class="nav-item">
                        <router-link
                            exact-active-class="active"
                            to="/contacto"
                            class="nav-link"
                            >Contacto</router-link
                        >
                    </li>
                </ul>
                <span class="navbar-text">
                    <div v-if="user">
                        Hola! {{ user.name }}
                        <button class="btn btn-info" @click.prevent="logout">
                            Logout
                        </button>
                    </div>
                </span>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    data() {
        return {
            user: null,
        };
    },
    mounted() {
        axios.get("/api/user").then((res) => {
            this.user = res.data;
        });
    },
    methods: {
        logout() {
            axios.post("/api/logout").then(() => {
                this.$router.push({ name: "login" });
            });
        },
    },
};
</script>
