<template>
    <div class="container mt-4">
        <div class="row text-center">
            <div
                class="col-md-6 offset-md-3"
            >
                <div class="flex flex-wrap max-w-xl">
                    <div class="p-2 text-2xl text-gray-800 font-semibold">
                        <h3>Registrar usuario</h3>
                    </div>
                    <div class="form-group">
                        <label class="w-full" for="name">Nombre</label>
                        <span class="w-full text-red-500" v-if="errors.name">{{
                            errors.name[0]
                        }}</span>
                        <input
                            class="form-control"
                            placeholder="Nombre"
                            type="text"
                            v-model="form.name"
                        />
                    </div>
                    <div class="form-group">
                        <label for="email">Your e-mail</label>
                        <input
                            class="form-control"
                            placeholder="Email"
                            type="email"
                            v-model="form.email"
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                            class="form-control"
                            placeholder="Password"
                            type="password"
                            v-model="form.password"
                            name="password"
                        />
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input
                            class="form-control"
                            placeholder="Confirmar Password"
                            type="password"
                            v-model="form.password_confirmation"
                            name="password_confirmation"
                        />
                    </div>
                    <div class="p-2 w-full mt-4">
                        <button
                            @click.prevent="saveForm"
                            type="submit"
                            class="btn btn-primary"
                        >
                            Register
                        </button>

                        <router-link class="nav-link" to='/login' exact>Tienes cuenta? Ingresar</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            form: {
                name: "",
                email: "",
                password: "",
                password_confirmation: "",
            },
            errors: [],
        };
    },
    methods: {
        saveForm() {
            axios
                .post("/api/register", this.form)
                .then(() => {
                    // console.log("saved");
                    this.$router.push({ name: "login" });

                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },
    },
};
</script>
