<template>
    <div class="row">
        <NavBar></NavBar>
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-header"><h4>Editar Tarea</h4></div>
                <div class="card-body">
                    <form @submit.prevent="actualizar">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Título</label>
                                    <input
                                        required
                                        type="text"
                                        class="form-control"
                                        v-model="task.titulo"
                                    />
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="form-floating">
                                    <textarea
                                        required
                                        class="form-control"
                                        id="floatingTextarea2"
                                        v-model="task.tarea"
                                        style="height: 100px"
                                    ></textarea>
                                    <label for="floatingTextarea2"
                                        >Descripción de la tarea</label
                                    >
                                </div>
                            </div>

                            <div class="col-12 mb-2">
                                <div class="">
                                    <!-- <label for="floatingSelect">Estado</label> -->
                                    <label for="floatingSelectUser"
                                        >Usuario</label
                                    >
                                    <select
                                        id="floatingSelectUser"
                                        class="form-control"
                                        v-model="selected_user"
                                    >
                                        <option
                                            v-for="option in users"
                                            :value="option"
                                        >
                                            {{ option.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 mb-2">
                                <div class="">
                                    <label for="floatingSelectStatus"
                                        >Estado</label
                                    >
                                    <select
                                        id="floatingSelectStatus"
                                        class="form-control"
                                        v-model="selected_status"
                                    >
                                        <option
                                            v-for="option in status"
                                            :value="option"
                                        >
                                            {{ option.status }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 mb-2">
                                <div class="">
                                    <label for="floatingSelectPrioridad"
                                        >Prioridad</label
                                    >
                                    <select
                                        id="floatingSelectPrioridad"
                                        class="form-control"
                                        v-model="selected_prioridad"
                                    >
                                        <option value="0" disabled selected>
                                            selecciona un prioridad
                                        </option>
                                        <option
                                            v-for="option in prioridad"
                                            :value="option"
                                        >
                                            {{ option.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="">
                                    <label for="multi"
                                        >Etiquetas</label
                                    >
                                    <multiselect id="multi"
                                        v-model="selected_tags"
                                        tag-placeholder="Etiquetas"
                                        placeholder="Buscar etiquetas"
                                        label="name"
                                        track-by="id"
                                        :options="all_tags"
                                        :multiple="true"
                                        :taggable="true"
                                        @tag="addTag"
                                    ></multiselect>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from "../NavBar.vue";
import Multiselect from "vue-multiselect";

export default {
    components: {
        NavBar,
        Multiselect,
    },
    name: "editar-task",
    data() {
        return {
            selected_tags: null,
            all_tags: [],
            task: {
                titulo: "",
                tarea: "",
                estado_id: "",
                user_id: "",
                prioridad_id: "",
            },
            status: {
                id: "",
                status: "",
            },
            users: {
                id: "",
                name: "",
            },
            prioridad: {
                id: "",
                name: "",
            },
            selected_status: 0,
            selected_user: 0,
            selected_prioridad: 0,
        };
    },
    mounted() {
        this.mostrarUsers();
        this.mostrarStatus();
        this.mostrarPrioridad();
        this.mostrarTask();
        this.list_tags();

    },
    methods: {

        async list_tags() {
            await this.axios
                .get("/api/all_tags")
                .then((response) => {
                    this.all_tags = response.data;
                })
                .catch((error) => {
                    console.log(error);
                    this.all_tags = [];
                });
        },
        addTag(newTag) {
            const tag = {
                name: newTag.name,
                id: newTag.id,
            };
            this.options.push(newTag[0]);
            this.selected_tags.push(tag);
        },

        async mostrarPrioridad() {
            await this.axios
                .get("/api/priority")
                .then((response) => {
                    this.prioridad = response.data;
                })
                .catch((error) => {
                    console.log(error);
                    this.prioridad = [];
                });
        },

        async mostrarUsers() {
            await this.axios
                .get("/api/users")
                .then((response) => {
                    this.users = response.data;
                    // console.log(this.users);
                })
                .catch((error) => {
                    console.log(error);
                    this.users = [];
                });
        },

        async mostrarStatus() {
            await this.axios
                .get("/api/status")
                .then((response) => {
                    this.status = response.data;
                })
                .catch((error) => {
                    console.log(error);
                    this.status = [];
                });
        },

        async mostrarTask() {
            await this.axios
                .get(`/api/task/${this.$route.params.id}`)
                .then((response) => {
                    const {
                        titulo,
                        tarea,
                        priority,
                        estado_id,
                        prioridad_id,
                        user_id,
                        users,
                        status,
                        tags
                    } = response.data;
                    this.selected_tags = tags
                    this.task.titulo = titulo;
                    this.task.tarea = tarea;
                    this.task.prioridad_id = prioridad_id;
                    this.task.estado_id = estado_id;
                    this.task.user_id = user_id;

                    this.selected_status = {
                        id: status.id,
                        status: status.status,
                    };

                    this.selected_user = { id: users.id, name: users.name };
                    this.selected_prioridad = {
                        id: priority.id,
                        name: priority.name,
                    };
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        async actualizar() {
            if (!this.selected_status) {
                const Toast = this.$swal.mixin({
                    toast: false,
                    position: "center",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                });

                Toast.fire({
                    icon: "error",
                    title: "Selecciona un estado",
                });
                return;
            }

            if (!this.selected_user) {
                const Toast = this.$swal.mixin({
                    toast: false,
                    position: "center",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                });

                Toast.fire({
                    icon: "error",
                    title: "Selecciona un usuario",
                });

                return;
            }

            this.task.estado_id = this.selected_status.id;
            this.task.user_id = this.selected_user.id;
            this.task.prioridad_id = this.selected_prioridad.id;
            this.task.tags = this.selected_tags;

            await this.axios
                .put(`/api/task/${this.$route.params.id}`, this.task)
                .then((response) => {
                    const Toast = this.$swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                    });

                    Toast.fire({
                        icon: "success",
                        title: "Tarea modificada",
                    });

                    this.$router.push({ name: "mostrarTask" });
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
};
</script>
