<template>

    <div class="row">
        <NavBar></NavBar>
        <div class="col-12 mb-2  mt-5">
            <!-- llamamos al componente para Crear   -->
            <div class="container-fluid">
            <router-link
                :to="{ name: 'crearTask' }"
                class="btn btn-success"
                title="Crear tarea"
                ><i class="fas fa-plus-circle"></i> Crear tarea</router-link
            >
            </div>
        </div>
        <div class="col-12">
            <div class="container-fluid">
                <div class="table-responsive ">
                    <table
                        id="alltasks"
                        v-if="tasks.length > 0"
                        class="table table-bordered table-sm"
                    >
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>ID</th>
                                <th>Fecha de creación</th>
                                <th>Usuario</th>
                                <th>Título</th>
                                <!-- <th>Tarea</th> -->
                                <th>Estado</th>
                                <th>Prioridad</th>
                                <th>Etiquetas</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="task in tasks" :key="task.id">
                                <td class="small text-center">{{ task.id }}</td>
                                <td class="small">{{ formatDate(task.created_at) }}</td>
                                <td class="small text-center">{{ task.users.name }}</td>
                                <td class="small">{{ task.titulo }}</td>
                                <!-- <td class="small">{{ task.tarea }}</td> -->
                                <td class="text-center">  <span class="badge bg-secondary">{{ task.status.status }}</span> </td>
                                <td class="text-center"> <span class="badge bg-info">{{ task.priority.name }}</span></td>
                                <td class="text-center">
                                    <span v-for="tag in task.tags" class="badge badge rounded-pill bg-warning">
                                        {{ tag.name }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <!-- llamamos al componente para Editar     -->
                                    <router-link
                                        :to="{
                                            name: 'editarTask',
                                            params: { id: task.id },
                                        }"
                                        title="Modificar tarea"
                                        class="btn btn-info"
                                        ><i class="fas fa-edit"></i
                                    ></router-link>
                                    <a
                                        type="button"
                                        @click="borrarTask(task.id)"
                                        title="Eliminar tarea"
                                        class="btn btn-danger"
                                        ><i class="fas fa-trash"></i
                                    ></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table v-else class="table table-bordered">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>ID</th>
                                <th>Fecha de creación</th>
                                <th>Usuario</th>
                                <th>Título</th>
                                <!-- <th>Tarea</th> -->
                                <th>Estado</th>
                                <th>Prioridad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <!-- <td>-</td> -->
                                <td>-</td>
                                <td>-</td>
                                <td class="text-center">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import NavBar from "../NavBar.vue";

export default {
    components:{
        NavBar
    },
    name: "task",
    data() {
        return {
            tasks: [],
        };
    },
    mounted() {
        this.mostrarTasks();
    },

    methods: {
        formatDate(dateString) {
            const date = new Date(dateString);

            return date.toLocaleDateString() + " " + date.toLocaleTimeString();
        },
        async mostrarTasks() {
            await this.axios
                .get("/api/task")
                .then((response) => {
                    this.tasks = response.data;
                })
                .catch((error) => {
                    console.log(error);
                    this.tasks = [];
                });
        },
        borrarTask(id) {
            this.$swal
                .fire({
                    title: "Eliminar tarea ?",
                    text: "No podrás deshacer este cambio.!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Si, Eminilar!",
                })
                .then((result) => {
                    if (result.isConfirmed) {
                        this.axios
                            .delete(`/api/task/${id}`)
                            .then((response) => {
                                this.mostrarTasks();
                                const Toast = this.$swal.mixin({
                                    toast: true,
                                    position: "center",
                                    showConfirmButton: false,
                                    timer: 3000,
                                    timerProgressBar: true,
                                });

                                Toast.fire({
                                    icon: "success",
                                    title: "Tarea eliminada.",
                                });
                            })
                            .catch((error) => {
                                console.log(error);
                            });
                    }
                });
        },
    },
};
</script>
